.content{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .dashboardDescription{
    width: 200px;
    margin: 16px;
    background-color: #3f51b5;
    color: #fff;
    &:hover{
      scale: 1.05;
      cursor: pointer;
    }
    mat-card-content{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
    }
  }

  .success{
    background-color: #4caf50;
  }
  .warning{
    background-color: #ff9800;
  }
  .worn{
    background-color: #f44336;
  }
}

.charts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
  .lChart{
    width: 400px;
    height: 100%;
    .chartSails{
      width: auto;
    }
  }
  .dChart{
    max-width: 300px;
    .chartSails{
      width: auto;
    }
  }
  .inline-calendar-card{
    width: 300px;
    height: 100%;
    .chartSails{
      width: auto;
    }
  }
}
.cardPersons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  .person{
    background-color: #4caf50;
    border-radius: 50%;
    padding: 4px;
    color: #fff;
  }
}



